@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --brand-blue: 24 78 119; /* #184E77 */
        --brand-gray: 53 53 53; /* #353535 */
        --brand-green: 181 228 140; /* #B5E48C */
        --brand-white: 255 255 255; /* #FFFFFF */
    }
}